.container {
	background-color: var(--clr-white);
	color: var(--clr-black);
	border-radius: 10px;
	padding: 1rem;

	& h2 {
		font-size: var(--fs-lg);
		font-weight: var(--fw-medium);
		margin-bottom: 1rem;
	}

	& p {
		font-size: var(--fs-base);
		margin-bottom: 1rem;
	}
}
