:root {
	/* colors */
	--clr-blue: #4980c0;
	--clr-blue-100: #3973ac;
	--clr-blue-200: #2a6698;

	--clr-white: #ffffff;
	--clr-white-100: #f0f0f0;
	--clr-white-200: #dadada;

	--clr-black: #000000;
	--clr-black-100: #181818;
	--clr-black-200: #2e2d2d;

	--clr-gray: #f6f6f6;
	--clr-gray-100: #dadada;
	--clr-gray-200: #bebebe;

	--clr-pale: #e6ebff;
	--clr-pale-100: #c8d1f4;
	--clr-pale-200: #aab8e9;

	--clr-silver: #a5a5a5;
}
