@import "./reset.css";
@import "./colors.css";
@import "./typography.css";
@import "./z-index.css";

body {
	font-family: var(--font-montserrat);
	background-color: var(--clr-black);
	color: var(--clr-white);
	font-size: var(--fs-base);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	white-space: nowrap;
}
