@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");

:root {
	--font-rowdies: "Rowdies", sans-serif;
	--font-montserrat: "Montserrat", sans-serif;
	--font-helvetica: "Helvetica", sans-serif;

	/* font size */
	--fs-xs: clamp(0.8rem, 3vw, 0.875rem); /* 14px */
	--fs-base: clamp(1rem, 2.5vw, 1.125rem); /* 18px */
	--fs-lg: clamp(1rem, 0.8rem + 2vw, 1.5rem); /* 24px */
	--fs-xl: clamp(1rem, 0.8rem + 2vw, 2.25rem); /* 36px */
	--fs-2xl: clamp(1rem, 0.8rem + 3vw, 2.5rem); /* 40px */
	--fs-3xl: clamp(1.8rem, 1.5rem + 4vw, 4rem); /* 64px */
	--fs-4xl: clamp(2rem, 1.8rem + 5vw, 6rem); /* 96px */

	/* font weight */
	--fw-light: 300;
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-bold: 700;
	--fw-extrabold: 900;
}
