.container {
	display: flex;
	justify-content: center;

	@media (min-width: 700px) {
	}

	@media (min-width: 1500px) {
		grid-template-columns: 295px 1fr;
	}

	& .filterContainer {
		display: none;

		@media (min-width: 700px) {
			display: block;
			margin-top: 5rem;
		}

		@media (min-width: 1600px) {
			width: min(100%, 295px);
		}
	}

	& .placeholder {
		display: none;

		@media (min-width: 1600px) {
			display: block;
			width: min(100%, 295px);
		}
	}
}
